<h2>Products</h2>

<div *ngFor="let product of products">
    <h3>
        
        <a [title]="product.name + ' details'"
            [routerLink]="['/products', product.id]"> 
            {{ product.name }}
        </a>
    </h3>

    <p *ngIf="product.description">
        Description: {{ product.description}}
    </p>

    <button type="button" (click)="share()">
        Share
    </button>

    <app-product-alerts
        [product]="product"
        (notify)="onNotify()">
    </app-product-alerts>

</div>

<!-- using variable "products" in the exported class in .ts file-->
<!-- Interpolation {{ }} : render property calue as text-->
<!-- Property binding [] : use the property value in a template expression (w/ parameter)
    (otherwise just regular html tag property) -->
<!-- *ngExpression="xxx" (format?) 
     *ngFor="let item of list"  <==> for (let item of list)
     *ngIf="condition"  <==> if (condition) -->
<!-- Event binding () : (click)="share()" - bind the click event (html) to the share() method (ts)-->